<section class='form-category-container'>
  <div class='form-category-content'>
    <h1>Edit Category</h1>
    
    <%= form_with(model: @category, url: category_path(@category), method: :patch, class: 'category-form') do |form| %>
      
      <div class="category-field">
        <%= form.label :name, "New Category Name"  %>
        <br/>
        <%= form.text_field :name %>
      </div>

      <div class="category-field">
        <%= form.label :icon, "New Category Icon"  %>
        <br/>
        <%= form.collection_select(:icon, [ "ðŸ”", "ðŸ‘š", "ðŸ¥", "ðŸ«", "ðŸ“š", "ðŸ·", "ðŸ‘ª", "ðŸŽ", "ðŸ’Œ", "ðŸ‘”", "ðŸˆ", "ðŸ› ", "ðŸ–", "ðŸšŒ", "ðŸ’¡" ], :to_s, :to_s, { prompt: "---" }, { class: 'fa-select' }) %>
      </div>
    
      <div class="category-field submit-food-btn">
      <%= form.submit "Save Category", class: 'submit-food' %>
      </div>
      <% end %>
  </div>
</section>