<h1>Edit Expense</h1>

<%= form_with(model:@expense, url: expense_path(@expense), local: true) do |form| %>
    
    <%= form.hidden_field :category_id, value: @category.id %>
    
    <%= form.label :name, 'Edit Breakdown:', class: "" %>
    <%= form.text_field :name %><br />

    <%= form.label :amount, 'Amount', class: "" %>
    <%= form.number_field :amount %><br />

    <%= form.submit 'Save Expense', class: "" %>
<% end %>