<div class='category-form-back-arrow'>
  <%= button_to(category_path(@category), method: :get) do %>
  <%= image_tag('back-arrow.svg', class: '') %>
  <% end %>
</div>

<section class='form-category-container'>
    <div class='form-category-content'>
        <h1>Edit Expense</h1>
        
        <%= form_with(model:@expense, url: expense_path(@expense), local: true, class: 'category-form') do |form| %>
        
            <%= form.hidden_field :category_id, value: @category.id %>
        
            <div class="category-field">
                <%= form.label :name, 'New Expense' %>
                <%= form.text_field :name, class: "category-field" %>
            </div>
            <br/>

            <div class="category-field">
                <%= form.label :amount, 'New Amount'%><br/>
                <%= form.number_field :amount, class: "category-field" %>
            </div>
            <br/>
        
            <div class="category-field submit-food-btn"><%= form.submit 'Save Expense', class: "submit-food" %></div>
        <% end %>
    </div>
</section>