<div class='category-form-back-arrow'>
  <%= button_to(categories_path, method: :get) do %>
  <%= image_tag('back-arrow.svg', class: '') %>
  <% end %>
</div>

<section class='form-expense-container'>
    <div class= 'form-expense-content'>
        <h1>Expenses Form</h1>
        
        <%= form_with(model:@expense, url: expenses_path, local: true, class:'expense-form') do |form| %>
        
            <%= form.hidden_field :category_id, value: @category.id %>
        
            <% if @expense.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>
                <ul>
                  <% @expense.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="expense-field">
                <%= form.label :name, 'Category', class: "" %>
                <%= form.text_field :name %>
                <% if @expense.errors[:name].any? %>
                  <p><%= @expense.errors[:name].join(", ") %></p>
                <% end %>
                <br />
            </div>
        
            <div class="expense-field">
                <%= form.label :amount, 'Amount', class: "" %>
                <%= form.number_field :amount %>
                <% if @expense.errors[:amount].any? %>
                  <p><%= @expense.errors[:amount].join(", ") %></p>
                <% end %>
                <br />
            </div>

            <div class="expense-field submit-expense-btn">
            <%= form.submit 'Save Expense', class: "submit-expense" %></div>
        <% end %>
    </div>
</section>