<!DOCTYPE html>
<html>
  <head>
    <title>Wise Spender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% flash.each do |key, message| %>
    <div class="alert <%= key %>">
    <%= image_tag 'green-tick.png', class: 'tick-img' %>
    <%= message %>
  </div>
  <% end %>

  <% if user_signed_in? %>
  <section class='menu'>
    <div class="close_icon_cont" onclick="toggleMenu()"><p class="close_icon">x</p></div>
    <div>
      <%= image_tag 'user.svg', class: 'user-icon' %>
      <p><%= current_user.name %></p>
      <p><%= current_user.email %></p>
    </div>
    <br><br>
    <ul>
      <%= link_to 'Home', categories_path, onclick: 'closeMenu()', class: 'menulinks' %>
      <%= link_to 'Edit Profile', edit_user_registration_path, onclick: 'closeMenu()', class: 'menulinks' %>
      <%= link_to 'Change Password', edit_user_registration_path, onclick: 'closeMenu()', class: 'menulinks' %>
      <li class="menulinks"><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, onclick: 'closeMenu()', class: 'removebtnfeature' %></li>
    </ul>
  </section>
<% end %>

<script>
  function toggleMenu() {
    console.log('toggleMenu');
    var menu = document.querySelector('.menu');
    if (menu.style.display === 'none') {
      menu.style.display = 'block';
    } else {
      menu.style.display = 'none';
    }
  }
</script>

</body>
</html>